.content__item{
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
    width: 210px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 20px;
    transition: box-shadow 0.05s ease-in-out; transform: 0.05s ease-in-out;
  
    &:hover{
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
  }
  

  .content__item_img{
    width: 100%;
    height: 135px;
    z-index: 0;
  }
  
  .content__item_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price__wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .content__item_description_price_head{
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
  }
  .content__item_description_price{
    font-size: 14px;
    line-height: 17px;
  }
  
  .content__item_description_btn{
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .like{
    position: absolute;
    cursor: pointer;
  }

  