/*корзтна*/

.overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .drawer{
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    
    .drawer__name{
      margin: 0;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      .btn-remove{
        cursor: pointer;
      }
    }
    .items{
      overflow: auto;
      margin-bottom: 40px;
    }
  }
  
  .items{
    flex: 1;
  }
  
  /*карточки в корзине*/
  
  .cartItem{
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .cartItem_img{
    margin-right: 20px;
  }
  
  .cartItem_info{
    margin-right: 20px;
  }
  
  .cartItem_info_description{
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .cartItem_info_price{
    font-size: 14px;
  }
  
  .btn_remove{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
  
/*корзина пуста*/
.drawer__empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 310px;
}

.drawer__empty_img{
  width: 120px;
  height: 120px;
}

.drawer__empty_headding{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.drawer__empty_description{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}
.drawer__btn{
  margin-top: 15px;
  min-width: 325px;
  min-height: 55px;
  align-content: center;
  border: none;
  border-radius: 18px;
  background-color: #9DD558;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &:hover{
    background-color: lighten($color: #9DD558, $amount: 5%);
  }
  &:active{
    background-color: darken($color: #9DD558, $amount: 5%);
  }
}
.drawer__btn{
  position: relative;
  &:hover{
    .drawer__btn_back{
    transform: translateX(-5px);
  }
}
  .drawer__btn_back{
    position: absolute;
    right: 280px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
    
  }
}

  /*итог в корзине*/
  .drawer__list_item{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .list__item_headding{
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  .list__item_dashed{
    width: 60%;
    border-bottom: 1px dashed #DFDFDF;
  }
  
  .list__item_description{
  
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  /*кнопка оформить заказ*/
  .drawer__btn{
    margin-top: 15px;
    min-width: 325px;
    min-height: 55px;
    align-content: center;
    border: none;
    border-radius: 18px;
    background-color: #9DD558;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    &:hover{
      background-color: lighten($color: #9DD558, $amount: 5%);
    }
    &:active{
      background-color: darken($color: #9DD558, $amount: 5%);
    }
  }
  .drawer__btn{
    position: relative;
    &:hover{
      .drawer__btn_next{
      transform: translateX(5px);
    }
  }
    .drawer__btn_next{
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
      
    }
  }