@import 'macro-css';

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1180px;
margin: 0 auto;
padding-top: 50px auto;
}

/*шапка сайта*/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  padding: 43px 45px;
  border-bottom: 1px solid #EAEAEA;
  .header__left{
    display: flex;
    align-items: center;

    img{
      margin-right: 15px;
    }

    h3, p{
      margin: 0;
    }
  }
}

.header__right-list{
  margin: 0;
  padding: 0;
  display: flex;
}

.header__right-list_item {
  margin-right: 30px;
  padding: 0;
  list-style-type: none;
}

/* контент */
.content{
  padding: 40px;
}

/*заголовки контента*/

.headding{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;

}

.content__headding{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/*поиск*/
.search__block{
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
}

.search__block_search{
  border: none;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

/*карточки товаров*/

.all_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;

}

.content__item{
  margin-top: 40px;
  width: 210px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 20px;
  transition: box-shadow 0.05s ease-in-out; transform: 0.05s ease-in-out;

  &:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
}

.content__item_img{
  width: 132px;
  height: 112px;
}

.content__item_description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__wrapper{
  display: flex;
  flex-direction: column;
}

.content__item_description-price_head{
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #BDBDBD;
}
.content__item_description-price{
  font-size: 14px;
  line-height: 17px;
}

.content__item_description-btn{
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  cursor: pointer;
}

.like{
  position: absolute;
  cursor: pointer;
}

/*корзтна*/

.overlay{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer{
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  
  .drawer__name{
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    .btn-remove{
      cursor: pointer;
    }
  }
  .items{
    overflow: auto;
    margin-bottom: 40px;
  }
}

.items{
  flex: 1;
}

/*карточки в корзине*/

.cartItem{
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 20px;
}

.cartItem_img{
  margin-right: 20px;
}

.cartItem_info{
  margin-right: 20px;
}

.cartItem_info-description{
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.cartItem_info-price{
  font-size: 14px;
}

.btn-remove{
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  &:hover{
    opacity: 1;
  }
}

/*итог в корзине*/
.drawer__list_item{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.list__item_headding{

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.list__item_dashed{
  width: 60%;
  border-bottom: 1px dashed #DFDFDF;
}

.list__item_description{

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/*кнопка оформить заказ*/
.drawer__btn{
  margin-top: 15px;
  min-width: 325px;
  min-height: 55px;
  align-content: center;
  border: none;
  border-radius: 18px;
  background-color: #9DD558;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &:hover{
    background-color: lighten($color: #9DD558, $amount: 5%);
  }
  &:active{
    background-color: darken($color: #9DD558, $amount: 5%);
  }
}
.drawer__btn{
  position: relative;
  &:hover{
    .drawer__btn_next{
    transform: translateX(5px);
  }
}
  .drawer__btn_next{
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
    
  }
}