@import 'macro-css';

body  {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1180px;
margin: 0 auto;
padding-top: 50px auto;
}



/* контент */
.content{
  margin: auto;
  max-width: 1040px;
  padding: 40px;
  padding-top: 0;
}

/*заголовки контента*/

.headding{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-top: 20px;

}

.content__headding{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: auto 0;

}

/*поиск*/
.search__block{
  display: flex;
  position: relative;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
}

.search__block_search{
  border: none;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.search__clear{
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  top: 14px;
  right: 15px;
  cursor: pointer;
}

/*карточки товаров*/

.all_item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__item{
  margin-top: 40px;
  margin-right: 20px;
  width: 210px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 20px;
  transition: box-shadow 0.05s ease-in-out; transform: 0.05s ease-in-out;

  &:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
}

.content__item_img{
  width: 132px;
  height: 112px;
}

.content__item_description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__wrapper{
  display: flex;
  flex-direction: column;
}

.content__item_description-price_head{
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #BDBDBD;
}
.content__item_description-price{
  font-size: 14px;
  line-height: 17px;
}

.main{
  margin-bottom: 85px;
  background-color: #e6e3e300;
}

.empty__box{
  min-width: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty__box_img{
  width: 64px;
  height: 64px;
}
